.sidebar-switch{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    gap: 0.5rem;
}

.switch-toggler{
    flex-basis: 60px;
    background-color: yellow;
    border-radius: 1rem;
    border: 2px solid #001835;
    overflow: hidden;
    height: 23px;
}

.switch-toggler .icon{
    width: 50%;
    height: 100%;
    background: #f8f8f8;
    transition: transform .5s ease-in-out;
    transform: translateX(100%);
}

@media screen and (max-width: 768px) {
    .switch-toggler{
    justify-content: center;
    flex-basis: 90px;
    
}
    .app-sidebar .sidebar-switch span {
        display: none;
    }
}